In [1]:
import csv
import sqlite3
import pandas as pd
import json

In [2]:
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

In [3]:
cursor.execute(" CREATE TABLE IF NOT EXISTS user (\
  id VARCHAR(255) PRIMARY KEY,\
  name VARCHAR(255),\
  screen_name VARCHAR(255),\
  location VARCHAR(255),\
  description TEXT,\
  followers_count INT,\
  friends_count INT,\
  favourites_count INT,\
  statuses_count INT,\
  verified BOOLEAN,\
  created_at VARCHAR(255),\
  url VARCHAR(255) )")

In [10]:
with open("/Users/mayank/Downloads/corona_out_2.txt", "r") as f1:
#     print("opened")
    for line in f1:
        try:
            data = json.loads(line)
            #print("loaded")
            if (data['text'].startswith('RT')):
                #adding retweet in user details
                cursor.execute(f"SELECT * FROM user WHERE id = {data['user']['id_str']}")
                #print(cursor.fetchall() is None)
                if (not len(cursor.fetchall())):
#                     print("1")
                    user = data['user']
                    user_id = user['id_str']
                    user_values = (user_id, user['name'], user['screen_name'], user['location'], user['description'], 
                     user['followers_count'], user['friends_count'], user['favourites_count'], user['statuses_count'], 
                     user['verified'], user['created_at'], user['url'])
                    cursor.execute("INSERT INTO user (id, name, screen_name, location, description, followers_count, "
                               "friends_count, favourites_count, statuses_count, verified, created_at, url) "
                               "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", user_values)
#                     print("exec")

                
                #adding quoted tweet
                if (data['is_quote_status']):
                    cursor.execute("SELECT * FROM user WHERE id = ?", (data['quoted_status']['user']['id_str'],))
                    if (not len(cursor.fetchall())):                        
#                         print("2")
                        user = data['quoted_status']['user']
                        user_id = user['id_str']
                        user_values = (user_id, user['name'], user['screen_name'], user['location'], user['description'], 
                         user['followers_count'], user['friends_count'], user['favourites_count'], user['statuses_count'], 
                         user['verified'], user['created_at'], user['url'])
                        cursor.execute("INSERT INTO user (id, name, screen_name, location, description, followers_count, "
                                   "friends_count, favourites_count, statuses_count, verified, created_at, url) "
                                   "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", user_values)
                        #print("exec")

                
                #adding retweeted tweet user details
                cursor.execute("SELECT * FROM user WHERE id = ?", (data['retweeted_status']['user']['id_str'],))
                if (not len(cursor.fetchall())):
#                     print("3")
                    user = data['retweeted_status']['user']
                    user_id = user['id_str']
                    user_values = (user_id, user['name'], user['screen_name'], user['location'], user['description'], 
                     user['followers_count'], user['friends_count'], user['favourites_count'], user['statuses_count'], 
                     user['verified'], user['created_at'], user['url'])
                    cursor.execute("INSERT INTO user (id, name, screen_name, location, description, followers_count, "
                               "friends_count, favourites_count, statuses_count, verified, created_at, url) "
                               "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", user_values)
                    #print("exec")

                    
            else:
                 #adding quoted tweet
                if (data['is_quote_status']):    #check if tweet is quoted
                    cursor.execute("SELECT * FROM user WHERE id = ?", (data['quoted_status']['user']['id_str'],))
                    if (not len(cursor.fetchall())):
                        #print("4")
                        user = data['quoted_status']['user']
                        user_id = user['id_str']
                        user_values = (user_id, user['name'], user['screen_name'], user['location'], user['description'], 
                         user['followers_count'], user['friends_count'], user['favourites_count'], user['statuses_count'], 
                         user['verified'], user['created_at'], user['url'])
                        cursor.execute("INSERT INTO user (id, name, screen_name, location, description, followers_count, "
                                   "friends_count, favourites_count, statuses_count, verified, created_at, url) "
                                   "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", user_values)
                        #print("exec")

                        
                #adding retweeted tweet user details
                cursor.execute("SELECT * FROM user WHERE id = ?", (data['user']['id_str'],))
                if (not len(cursor.fetchall())):
                    #print("5")
                    user = data['user']
                    user_id = user['id_str']
                    user_values = (user_id, user['name'], user['screen_name'], user['location'], user['description'], 
                     user['followers_count'], user['friends_count'], user['favourites_count'], user['statuses_count'], 
                     user['verified'], user['created_at'], user['url'])
                    cursor.execute("INSERT INTO user (id, name, screen_name, location, description, followers_count, "
                               "friends_count, favourites_count, statuses_count, verified, created_at, url) "
                               "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", user_values)
                    #print("exec")

        except:
            print
            continue

In [11]:
cursor.execute("SELECT count(distinct(id)) FROM user")
users_count = cursor.fetchall()
users_count

[(19230,)]

In [12]:
cursor.execute("SELECT * FROM user WHERE followers_count > 1000 LIMIT 5")
result = cursor.fetchall()
result

[('46769281',
  'Gucci Mane',
  'gucci1017',
  'EAST ATLANTA',
  'Major Label Recording Artist, signed to Atlantic Records. | wizopbooking@gmail.com',
  8483937,
  1,
  11016,
  21123,
  1,
  'Fri Jun 12 22:52:05 +0000 2009',
  'https://guccimane.lnk.to/Woptober2'),
 ('16144221',
  'NUFF',
  'nuffsaidny',
  None,
  'instagram: @nuffsaidny üáπüáπ',
  17112,
  1515,
  15790,
  2599,
  0,
  'Fri Sep 05 14:28:41 +0000 2008',
  None),
 ('1897514666',
  'Dharmendra Pradhan',
  'dpradhanbjp',
  'Delhi/Odisha/India',
  'Minister of Petroleum & Natural Gas and Minister of Steel, Government of India. Views personal. RTs not endorsement',
  1209645,
  1660,
  8542,
  39050,
  1,
  'Mon Sep 23 14:45:38 +0000 2013',
  'http://dpradhanbjp.com'),
 ('14135350',
  'Bianna Golodryga',
  'biannagolodryga',
  'New York',
  '@CNN Senior Global Affairs analyst, journalist, wife, mother, proud immigrant, ‚ù§Ô∏è Houston, TX ü§ò',
  148430,
  3376,
  23343,
  13104,
  1,
  'Wed Mar 12 21:25:29 +0000 2008',
  'http://biannagolodryga.com'),
 ('988174833849634816',
  'TV Conservador / Metr√≥',
  'TVConservador',
  'Bel√©m, Brasil',
  'Emissora afiliada a Rede Metr√≥pole (@cnt_pr) no estado do Par√°. As not√≠cias aqui dadas s√£o FICT√çCIAS, n√£o pegue corda ok üëç\n\n¬© Sistema O Conservador Ltda.',
  7240,
  566,
  18417,
  22665,
  0,
  'Sun Apr 22 21:56:54 +0000 2018',
  None)]

[]